:root {
  background-color: #000000;
  --fontInter: 'Inter', sans-serif;
  --fontIstok: 'Istok Web', sans-serif;
  --fontIrish: 'Irish Grover';
  --fontQuantico: 'Quantico', sans-serif;
  --fontPoppins: 'Poppins', sans-serif;
}

.navbar {
  background: none !important;
}

.vividblocText {
  font-family: var(--fontIstok);
  font-weight: 400;
  background: -webkit-linear-gradient(left, #1044FC, #C6ACF5,#F190DF, #fff5B7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.menu {
  width: 45px;
  height: 26px;
  font-family: var(--fontIstok) !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 25.91px !important;
  display: flex !important;
  margin-top: 32px !important;
  margin-right: 32px !important;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background: #030303 !important;
  width: 337px;
  height: 444px;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.5px;
  border-image: -webkit-linear-gradient(360deg, #1044FC, #C6ACF5,#F190DF, #fff5B7) 1;
}

.close {
  position: relative;
  top: 20px;
  left: 266px;
  font-family: var(--fontIstok);
  font-weight: 400;
  font-size: 18px;
  line-height: 25.91px;
  color: #FFFFFF !important;
}

.menuItem {
  font-family: var(--fontInter) !important;
  font-weight: 700 !important;
  font-style: italic;
  font-size: 32px !important;
  line-height: 20px !important;
  color: #FFFFFF;
  margin: 15px 8px !important;
}

.menuSocials {
  display: flex;
  justify-content: center;
  margin: 50px 8px;
  padding: 20px;
  border-top: solid 1px #474747;
}

.menuIcon {
  padding: 0px 10px;
}

.heroDesktop {
  position: relative;
  top: 63px;
}

.vividblocEllipse {
  width: 147px;
  height: 27px;
  position: relative;
  top: 317px;
  left: 144px;
  font-family: var(--fontIrish);
  font-weight: 400;
  font-size: 22px;
  line-height: 26.6px;
  background: -webkit-linear-gradient(left, #1044FC, #C6ACF5,#F190DF, #fff5B7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 5px;
  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  border-image: -webkit-linear-gradient(360deg, #1044FC, #C6ACF5,#F190DF, #fff5B7) 1;
}

.heroTitle {
  width: 738px;
  height: 48px;
  position: relative;
  top: 317px;
  left: 119px;
  font-family: var(--fontInter);
  font-weight: 700;
  font-size: 40px;
  line-height: 48.41px;
  color: #FFFFFF !important;
}

#story {
  font-style: italic;
  background: -webkit-linear-gradient(left, #1044FC, #C6ACF5,#F190DF, #fff5B7);
}

.heroSubHeading {
  width: 559px;
  height: 29px;
  position: relative;
  top: 317px;
  left: 119px;
  font-family: var(--fontInter);
  font-weight: 400;
  font-size: 24px;
  line-height: 29.05px;
  color: #FFFFFF !important;
  font-style: italic;
}

.discoverButton {
  height: 29px;
  position: relative;
  top: 317px;
  left: 119px;
  font-family: var(--fontIstok);
  font-weight: 400;
  font-size: 20px;
  line-height: 28.79px;
  color: #FFFFFF !important;
  font-style: italic;
  border-style: solid !important;
  border-width: 0px 0px 1px !important;
  border-image: -webkit-linear-gradient(360deg, #1044FC, #C6ACF5,#F190DF, #fff5B7) 1 !important;
}

.whoWeAre {
  height: 550px;
  margin-top: 100px;
  margin-right: 100px;
}

.whoWeAreTitle {
  width: 242px;
  height: 48px;
  position: relative;
  top: 50px;
  left: 157px;
  font-family: var(--fontInter);
  font-weight: 700;
  font-size: 40px;
  line-height: 48.41px;
  color: #FFFFFF !important;
}

.whoWeAreText {
  width: 729px;
  height: 116px;
  position: relative;
  top: 50px;
  left: 157px;
  font-family: var(--fontIstok);
  font-weight: 400;
  font-size: 20px;
  line-height: 28.79px;
  color:#E5E5E5 !important;
}

#logoSpan {
  background: -webkit-linear-gradient(left, #1044FC, #C6ACF5,#F190DF, #fff5B7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ourCraft {
  margin-top: 200px;
}

.ourCraftTitle {
  text-align: center;
  font-family: var(--fontInter);
  font-weight: 700;
  font-size: 40px;
  line-height: 48.41px;
  color: #FFFFFF !important;
}

.craftImage {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 185px;
  height: 35px;
  font-family: var(--fontIstok);
  font-weight: 400;
  font-size: 24px;
  line-height: 34.55px;
  color: #FFFFFF !important;
}

.testimonials {
    margin-top: 200px;
}

.testimonialsTitle {
  width: 375px;
  height: 48px;
  position: relative;
  top: 50px;
  left: 157px;
  font-family: var(--fontInter);
  font-weight: 700;
  font-size: 40px;
  line-height: 48.41px;
  color: #FFFFFF !important;
}

.testimonialsText {
  width: 729px;
  height: 58px;
  position: relative;
  top: 50px;
  left: 157px;
  font-family: var(--fontIstok);
  font-weight: 400;
  font-size: 20px;
  line-height: 28.79px;
  color:#E5E5E5 !important;
}

.quoteGrid {
  display: flex;
} 

.quoteImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quoteGrid {
  background: -webkit-linear-gradient( #171717 0%, #171717 100%, #171717 0%);
  width: 964px;
  height: 437px;
}

.woah {
  width: 182px;
  height: 86px;
  padding-left: 50px;
  font-family: var(--fontQuantico);
  font-weight: 400;
  font-size: 60px;
  line-height: 85.8px;
  color: #FFFFFF;
}

.quote {
  width: 484px;
  height: 106px;
  padding-left: 50px;
  font-family: var(--fontPoppins);
  font-weight: 400;
  font-size: 16px;
  line-height: 26.32px;
  color: #E5E5E5;
}

.name {
  padding-left: 50px;
  font-family: var(--fontPoppins);
  font-weight: 800;
  font-style: bold;
  font-size: 16px;
  line-height: 26.32px;
  color: #FFFFFF;
}

.company {
  padding-left: 50px;
  font-family: var(--fontPoppins);
  font-weight: 400;
  font-size: 16px;
  line-height: 26.32px;
  color: #FFFFFF;
}

.companyURL {
  padding-left: 50px;
  font-family: var(--fontPoppins);
  font-weight: 400;
  font-size: 16px;
  line-height: 26.32px;
  color: #1044FC;
}

.connect {
  margin-top: 200px;
  height: 279px;
  background: -webkit-linear-gradient(left, #1044FC, #C6ACF5,#F190DF, #fff5B7);
  display: flex;
  align-items: center;
  text-align: center;
}

.connectTitleDiv {
  font-family: var(--fontInter);
  font-weight: 700;
  font-size: 40px;
  line-height: 48.41px;
}

.connectTitle {
  margin: 5px !important;
}

.connectText {
  font-family: var(--fontIstok);
  font-weight: 400;
  font-size: 20px;
  line-height: 28.79px;
}

.connectButtonDiv {
  font-family: var(--fontIstok);
  font-weight: 400;
  font-size: 20px;
  line-height: 28.79px;
}

.connectButton {
  background-color: #FFFFFF !important;
  color: #000000 !important;
}

.footer {
  padding: 50px 10px;
}

.footerLink {
  font-family: var(--fontIstok);
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF !important;
  display: flex;
  justify-content: center;
}

.footerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerIcon {
  padding: 0px 10px;
}